
<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{titulo}}</h2>
            <button (click)="cerrar()">X</button>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Accusamus ipsum laborum doloremque eum odio officiis! 
                Quisquam praesentium eveniet eaque inventore unde, ut perspiciatis, 
                non magnam eligendi corrupti, aliquam labore. Neque.
            </p>
        </div>
    </div>
</div>
